<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Hurdle To Success" parallel="tests" thread-count="2">
    <test name="Parallel testing with Chrome Browser">
        <parameter name="browserName" value="Chrome"></parameter>
        <classes>
            <class name="org.air.tests.LoginTest">
                <methods>
                    <include name="launchURL"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Parallel testing with Firefox Browser">
        <parameter name="browserName" value="Firefox"></parameter>
        <classes>
            <class name="org.air.tests.LoginTest">
                <methods>
                    <include name="launchURL"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>